<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map.css' />
  </head>
  <body>
    <div id="nav">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>

    <div id="content">
      <div id="map"></div>
    </div>

    <!-- Scripts -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbD4TnXobioui4xPnHAttFuhhagzDoijU&callback=initMap">
    </script>
    <script src="javascripts/map.js"></script>
  </body>
</html>
