<!DOCTYPE html5>
<html>
<head>
  <title>aXXess || <%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/driver.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- User Information -->
  <div class="inforow">
    <div class="infocolumn">
      <p>Delivery to:</p>
      <h2 id="clientName">Loading...</h2>
      <p id="clientAddress"></p>
      <p id="distance"></p>
    </div>
  </div>

  <!-- Buttons -->
  <div class="float-button" id="complete" onclick="complete()">
    <img src="img/star.png" />
  </div>

  <div class="float-button" id="cancel" onclick="cancel()">
    <img src="img/cancel.png" />
  </div>

  <!-- Map, DO NOT CHANGE -->
  <div id="content">
    <div id="map"></div>
  </div>

  <div id="overlay"></div>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbD4TnXobioui4xPnHAttFuhhagzDoijU&callback=initMap">
  </script>
  <script src="javascripts/map.js"></script>
</body>
</html>
