<html>
	<header>
		<title>Name - Request Service</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
	</header>
	<body>
		<div class="container">
			<div id="name">Name</div>
			<div id="forms">
				Phone Number (if you have one):<br>
				<input type="text" placeholder="ex) 6501234567"><br>
				Address or description of your location:<br>
				<textarea name="paragraph_text" cols="50" rows="10" placeholder="ex) 220 Market St. or McDonald's on Sutter St."></textarea>
			</div>
			<div id="cta">
				Submit
			</div>	
		</div>
	</body>
</html>