/* Main */

body {
  background: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.inforow {
  height: 32.5vh;
  width: 100%;
}

.infocolumn {
  padding: 0.75% 5%;
}

#distance {
  float: right;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #DD8896;
}

/* Map */

#content {
  height: 67.5vh;
  width: 100%;
}

#overlay {
  position: fixed;
  z-index: 50;
  bottom: 0;
  height: 67.5vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

#map {
  height: 100%;
  width: 100%;
}

/* Floating Button */

.float-button {
  position: fixed; /* Fixed/sticky position */
  z-index: 99;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  bottom: -10vh;
  /*
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: both;*/
}

#complete {
  right: calc(45vw - 75px);
  background-color: #DD8896;
}

#cancel {
  left: calc(45vw - 75px);
  background-color: #757575;
}

/* Animation */

@keyframes slideUp {
  from {
     bottom: -10vh;
  }
  to {
     bottom: 2.5vh;
  }
}
